body{
  background: #fafafa;
}
/* -------------main-------------- */
.tilte{
  text-align: center;
}
.main-content{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
.content-box{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 44px;
}
.name-box{
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
}